* {
  font-family: "PT Serif", serif;
  color: #403D57;
}

body {
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: black;
}

h2 {
  margin-top: 30px;
}

h4 {
  margin-bottom: 5px;
}

i,
span {
  color: #14131b;
}

header {
  margin-bottom: 30px;
}

header span,
header h1,
header p {
  margin: 3px;
}

header ul li a:hover::before {
  content: '-- ';
}

table {
  border: 1px solid #D1CDE3;
  border-radius: 3px;
}

table tr:hover {
  background: #F6F6F6;
}

table th,
table td {
  padding: 10px 20px;
  border-bottom: 1px solid #D1CDE3;
}

table td a {
  font-size: 0px;
  margin-right: 10px;
}

table td a svg .cls-1 {
  fill: none;
}

table td a svg .cls-2 {
  fill: #B7B4C6;
  transition: all .2s;
}

table td a:hover svg .cls-2 {
  fill: #403D57;
}
