@font-face {
  font-family: CalibreRegular;
  src: url(../fonts/CalibreRegular.otf);
}

@font-face {
  font-family: CalibreSemibold;
  src: url(../fonts/CalibreSemibold.otf);
}

@font-face {
  font-family: CalibreBold;
  src: url(../fonts/CalibreBold.otf);
}

@font-face {
  font-family: SFMonoRegular;
  src: url(../fonts/SFMonoRegular.otf);
}

* {
  box-sizing: border-box;
  color: #444444;
}

* input:focus,
* textarea:focus,
* select:focus,
* *:focus {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: CalibreRegular, Arial, Helvetica, sans-serif;
}

#screenRes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #777777;
  position: fixed;
  z-index: 50;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0px;
  font-size: 16px;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul li {
  display: inline-block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

.container-f {
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.col {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.hud {
  position: fixed;
  bottom: 0px;
}

.hud-social {
  position: fixed;
  left: 80px;
  bottom: 0px;
}

.hud-social ul li {
  display: block;
  margin: 24px 0px;
  width: 20px;
  height: 20px;
  position: relative;
}

.hud-social ul li svg {
  position: absolute;
  width: 100%;
}

.hud-social ul li svg path {
  fill: #d9d9d9;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hud-social ul li .hud-email-email {
  transform: rotate(180deg);
}

.hud-social ul li.linea {
  height: 100px;
  margin: 0;
  padding: 0;
}

.hud-social ul li.linea span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 100%;
  background: #d9d9d9;
}

.hud-social ul li:hover svg path {
  fill: #FF9F43;
}

.hud-email {
  position: fixed;
  right: 80px;
  bottom: 0px;
}

.hud-email ul li {
  display: block;
  margin: 24px 0px;
  width: 20px;
  position: relative;
}

.hud-email ul li a {
  display: block;
  position: relative;
  transform: rotate(90deg);
  top: -204px;
  font-family: SFMonoRegular;
  color: #d9d9d9;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hud-email ul li a:hover {
  color: #FF9F43;
}

.hud-email ul li.linea {
  height: 70px;
  margin: 0;
  padding: 0;
}

.hud-email ul li.linea span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 100%;
  background: #d9d9d9;
}

#mmbtn {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 25;
  padding: 40px;
  cursor: pointer;
  display: none;
}

#mmbtn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  width: 30px;
  height: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #FF9F43;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#mmbtn span:nth-child(1) {
  width: 40px;
  top: 35%;
}

#mmbtn span:nth-child(3) {
  width: 40px;
  top: 65%;
}

#mmbtn.open span {
  background: #000000;
}

#mmbtn.open span:nth-child(2) {
  left: 200%;
  opacity: 0;
}

#mmbtn.open span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

#mmbtn.open span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
}

#menuMobile {
  display: none;
  position: fixed;
  top: 0px;
  right: -100%;
  width: 80%;
  height: 100%;
  border-left: 1px solid #d9d9d9;
  background: white;
  z-index: 20;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#menuMobile .logo {
  width: 200px;
  position: absolute;
  top: 23px;
  left: 20px;
}

#menuMobile .logo h4 {
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: SFMonoRegular;
}

#menuMobile .logo h4 span {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF9F43;
}

#menuMobile .mm-items {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#menuMobile .mm-items ul li {
  width: 200px;
  display: block;
  font-family: SFMonoRegular;
  text-align: center;
  margin: 20px 0px;
  font-size: 18px;
  font-size: 1.125rem;
}

#menuMobile .mm-items ul li:last-child {
  padding: 15px 0px;
  margin-top: 40px;
}

#menuMobile .mm-items ul li span {
  color: #FF9F43;
  display: block;
}

#menuMobile .mm-items ul li a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#menuMobile .mm-items ul li a:hover {
  color: #FF9F43;
}

#menuMobile .mm-items ul li .cv-resume {
  padding: 15px 85px;
  border: 1px solid #FF9F43;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -moz-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -ms-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -o-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  background: #FF9F43;
  color: white;
}

#menuMobile .mm-items ul li .cv-resume:hover {
  background: #ff8510;
  color: white;
}

#menuMobile .mm-media {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

#menuMobile .mm-media ul li {
  display: inline-block;
  margin: 0px 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

#menuMobile .mm-media ul li:first-child {
  margin-left: 0px;
}

#menuMobile .mm-media ul li svg {
  position: absolute;
  width: 100%;
}

#menuMobile .mm-media ul li svg path {
  fill: #d9d9d9;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#menuMobile .mm-media ul li .hud-email-email {
  transform: rotate(180deg);
}

#menuMobile .mm-media ul li:hover svg path {
  fill: #FF9F43;
}

.padding {
  padding: 100px 0px;
  margin: 10px 0px;
  border: 1px solid #d9d9d9;
}

.title {
  position: relative;
  margin-bottom: 30px;
}

.title h2 {
  display: inline-block;
  padding-left: 50px;
  font-family: CalibreBold;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: .89px;
}

.title h2 span {
  font-family: SFMonoRegular;
  font-size: 18px;
  font-size: 1.125rem;
  color: #FF9F43;
  position: absolute;
  top: 40%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title .linea {
  width: 500px;
  height: 2px;
  position: absolute;
  display: block;
  top: 40%;
  left: 0px;
  background: #000000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

header #menuDesktop {
  width: 100%;
  background: white;
  position: fixed;
  top: 0%;
  z-index: 20;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  -ms-box-shadow: 0px 0px 0px 0px transparent;
  -o-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent;
  border: 1px solid white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

header #menuDesktop.scrolled {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #e4e4e4;
}

header #menuDesktop .logo {
  width: 200px;
  height: 50px;
}

header #menuDesktop .logo h4 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: SFMonoRegular;
}

header #menuDesktop .logo h4 span {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF9F43;
}

header #menuDesktop #menu {
  width: calc(100% - 205px);
  height: 50px;
  text-align: right;
}

header #menuDesktop #menu li {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: SFMonoRegular;
  margin-right: 24px;
}

header #menuDesktop #menu li:last-child {
  margin-right: 0px;
}

header #menuDesktop #menu li span {
  color: #FF9F43;
}

header #menuDesktop #menu li a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

header #menuDesktop #menu li a:hover {
  color: #FF9F43;
}

header #menuDesktop #menu li .cv-resume {
  padding: 10px 40px;
  border: 1px solid #FF9F43;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

header #menuDesktop #menu li .cv-resume:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -moz-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -ms-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -o-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  background: #FF9F43;
  color: white;
}

header .bajada .container {
  height: 100vh;
}

header .bajada .vCenter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .bajada span {
  display: block;
  font-family: SFMonoRegular;
  font-size: 18px;
  font-size: 1.125rem;
  color: #FF9F43;
  margin-bottom: 20px;
}

header .bajada h1,
header .bajada h2 {
  display: block;
  font-family: CalibreBold;
  font-size: 72px;
  font-size: 4.5rem;
  font-weight: 700;
  color: #444444;
  line-height: 80px;
}

header .bajada h2 {
  color: #777777;
  margin-bottom: 20px;
}

header .bajada p {
  display: block;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  font-size: 1.25rem;
  color: #777777;
  font-family: CalibreRegular;
  font-weight: 400 !important;
}

header .bajada .cta {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  border: 1px solid #FF9F43;
  font-family: SFMonoRegular;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

header .bajada .cta:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -moz-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -ms-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  -o-box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(255, 159, 67, 0.3);
  background: #FF9F43;
  color: white;
}

#sobreMi .bio {
  width: 45%;
}

#sobreMi .bio p {
  font-size: 18px;
  font-size: 1.125rem;
  color: #777777;
  margin-bottom: 20px;
}

#sobreMi .bio p strong {
  font-family: CalibreRegular;
  color: #FF9F43;
  letter-spacing: .59px;
}

#sobreMi .bio .bio-stack {
  width: 49%;
}

#sobreMi .bio .bio-stack ul li {
  display: block;
  margin: 10px 0px;
  font-family: SFMonoRegular;
  font-size: 14px;
  font-size: 0.875rem;
  color: #777777;
}

#sobreMi .bio .bio-stack ul li span {
  color: #FF9F43;
}

#sobreMi .bio .bio-stack ul li i {
  font-size: 12px;
  font-size: 0.75rem;
  color: #FF9F43;
}

#sobreMi .imagen {
  width: 45%;
  margin-left: 5%;
  position: relative;
}

#sobreMi .imagen .imageContainer {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 300px;
  height: 300px;
  -webkit-background: linear-gradient(-145deg, #FF9F43, #ff8510) fixed;
  -moz-background: linear-gradient(-145deg, #FF9F43, #ff8510) fixed;
  -ms-background: linear-gradient(-145deg, #FF9F43, #ff8510) fixed;
  -o-background: linear-gradient(-145deg, #FF9F43, #ff8510) fixed;
  background: linear-gradient(-145deg, #FF9F43, #ff8510) fixed;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 5;
  overflow: hidden;
}

#sobreMi .imagen .imageContainer img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
  -moz-transform: translate(-50%, -50%) scale(2);
  -ms-transform: translate(-50%, -50%) scale(2);
  -o-transform: translate(-50%, -50%) scale(2);
  transform: translate(-50%, -50%) scale(2);
  width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#sobreMi .imagen .imageContainer:hover img {
  -webkit-transform: translate(-50%, -50%) scale(2.3);
  -moz-transform: translate(-50%, -50%) scale(2.3);
  -ms-transform: translate(-50%, -50%) scale(2.3);
  -o-transform: translate(-50%, -50%) scale(2.3);
  transform: translate(-50%, -50%) scale(2.3);
}

#sobreMi .imagen .imageContainerBorder {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-45%, -45%);
  -moz-transform: translate(-45%, -45%);
  -ms-transform: translate(-45%, -45%);
  -o-transform: translate(-45%, -45%);
  transform: translate(-45%, -45%);
  display: block;
  width: 300px;
  height: 300px;
  border: 2px solid #FF9F43;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

.msgPop {
  position: fixed;
  top: -100%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  width: 90%;
  max-width: 700px;
  min-height: 200px;
  background: white;
  text-align: center;
  z-index: 11;
}

.msgPop #cerrarPopup {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.msgPop #cerrarPopup svg {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.msgPop #cerrarPopup svg g path {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  fill: #d9d9d9;
}

.msgPop #cerrarPopup:hover svg {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

.msgPop #cerrarPopup:hover svg g path {
  fill: #444444;
}

.msgPop p {
  width: 50%;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1500px) {
  .hud-social {
    left: 1.5%;
  }
  .hud-email {
    right: 1.5%;
  }
}

@media (max-width: 1024px) {
  #menuDesktop,
  .hud {
    display: none;
  }
  #mmbtn,
  #menuMobile {
    display: block;
  }
}
