$ptserif: 'PT Serif',
serif;

// Colors
$black: #000000;
$white: #FFFFFF;
$gray1: #F6F6F6;
$gray2: #D1CDE3;
$gray3: #B7B4C6;
$gray4: #403D57;

$color: #40407a;

* {
    font-family: $ptserif;
    color: $gray4;
}

body {
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: darken($gray4, 30);
}

h2 {
    margin-top: 30px;
}

h4 {
    margin-bottom: 5px;
}

i,
span {
    color: darken($gray4, 20);
}

header {
    margin-bottom: 30px;

    span,
    h1,
    p {
        margin: 3px;
    }

    ul {
        li {
            a {
                &:hover::before {
                    content: '-- '
                }
            }
        }
    }

}

table {
    border: 1px solid $gray2;
    border-radius: 3px;

    tr {

        &:hover {
            background: $gray1;
        }
    }

    th,
    td {
        padding: 10px 20px;
        border-bottom: 1px solid $gray2;
    }

    td {
        a {
            font-size: 0px;
            margin-right: 10px;

            svg {
                .cls-1 {
                    fill: none;
                }

                .cls-2 {
                    fill: $gray3;
                    transition: all .2s;
                }
            }

            &:hover {
                svg {
                    .cls-2 {
                        fill: $gray4;
                    }
                }
            }
        }
    }
}

#tecnologias {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

small {
    font-size: .7rem;
    text-transform: lowercase;
    font-style: italic;
    color: $gray3;
}