@font-face {
  src: url(../fonts/circular-black.OTF);
  font-family: 'circular-black';
}
@font-face {
  src: url(../fonts/circular-bold.OTF);
  font-family: 'circular-bold';
}
@font-face {
  src: url(../fonts/circular-book.OTF);
  font-family: 'circular-book';
}
@font-face {
  src: url(../fonts/circular-medium.OTF);
  font-family: 'circular-medium';
}
#inicio {
  width: 100%;
  height: 100vh;
  background: url(../img/bg-01.jpg);
  background-size: cover;
}
#inicio ul {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
#inicio ul li,
#inicio ul .nav-item {
  padding: 10px 10px 10px 0px;
}
#inicio ul li a,
#inicio ul .nav-item a,
#inicio ul li .nav-link,
#inicio ul .nav-item .nav-link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
}
#inicio ul li:nth-child(6),
#inicio ul .nav-item:nth-child(6) {
  padding-right: 0px;
}
#inicio ul li:nth-child(7),
#inicio ul .nav-item:nth-child(7) {
  padding: 10px 0px 0px 0px;
}
#inicio ul li:nth-child(7) a,
#inicio ul .nav-item:nth-child(7) a,
#inicio ul li:nth-child(7) .nav.link,
#inicio ul .nav-item:nth-child(7) .nav.link {
  padding: 10px 0px 0px 0px;
  cursor: default;
}
#inicio ul .active a,
#inicio ul .active .nav-link {
  font-weight: 900;
}
#inicio .scrolled {
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 125px;
}
#inicio .scrolled ul {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
#inicio .scrolled ul li,
#inicio .scrolled ul .nav-item {
  padding: 10px 10px 10px 0px;
}
#inicio .scrolled ul li a,
#inicio .scrolled ul .nav-item a,
#inicio .scrolled ul li .nav-link,
#inicio .scrolled ul .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .9px;
}
#inicio .scrolled ul li:nth-child(6),
#inicio .scrolled ul .nav-item:nth-child(6) {
  padding-right: 0px;
}
#inicio .scrolled ul li:nth-child(7),
#inicio .scrolled ul .nav-item:nth-child(7) {
  padding: 10px 0px 0px 0px;
}
#inicio .scrolled ul li:nth-child(7) a,
#inicio .scrolled ul .nav-item:nth-child(7) a,
#inicio .scrolled ul li:nth-child(7) .nav.link,
#inicio .scrolled ul .nav-item:nth-child(7) .nav.link {
  padding: 10px 0px 0px 0px;
  cursor: default;
}
#inicio .scrolled ul .active a,
#inicio .scrolled ul .active .nav-link {
  color: #ec3709;
  font-weight: 900;
}
#inicio .titulo {
  display: inline-block;
  font-family: 'circular-black', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-top: 300px;
}
#inicio .titulo h1 {
  font-size: 77px;
}
#inicio .cta {
  text-align: center;
  margin-top: 200px;
}
#inicio .cta a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 30px;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  text-decoration: none;
}
#inicio .cta a:hover {
  background: rgba(0, 0, 0, 0.7);
}
#about {
  width: 100%;
  height: 100vh;
  padding: 120px 0px 120px 0px;
}
#about .seccion-titulo {
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
#about .seccion-titulo svg {
  margin-right: 20px;
}
#about .content {
  text-align: center;
  margin-top: 115px;
}
#about .content h1 {
  font-family: 'circular-bold', sans-serif;
  font-size: 81.94px;
  text-transform: uppercase;
  color: #ec3709;
}
#about .content p {
  font-size: 28.257px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #808080;
  line-height: 1.2;
}
#infinito {
  width: 100%;
  height: 100vh;
  padding: 120px 0px 120px 0px;
  text-align: center;
}
#infinito img {
  width: 80%;
}
#whyglobals {
  width: 100%;
  height: 100vh;
  padding: 80px 0px 120px 0px;
}
#whyglobals .content {
  text-align: center;
  margin-top: 115px;
}
#whyglobals .content h1 {
  font-family: 'circular-bold', sans-serif;
  font-size: 81.94px;
  text-transform: uppercase;
  color: #333333;
}
#whyglobals .content .capa-secciones {
  margin-top: 95px;
}
#whyglobals .content .capa-secciones .capa-1,
#whyglobals .content .capa-secciones .capa-2,
#whyglobals .content .capa-secciones .capa-3,
#whyglobals .content .capa-secciones .capa-4 {
  width: 642px;
  height: 290px;
  padding: 50px 65px;
}
#whyglobals .content .capa-secciones .capa-1 p,
#whyglobals .content .capa-secciones .capa-2 p,
#whyglobals .content .capa-secciones .capa-3 p,
#whyglobals .content .capa-secciones .capa-4 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #808080;
  margin-top: 50px;
}
#whyglobals .content .capa-secciones .capa-1 p span,
#whyglobals .content .capa-secciones .capa-2 p span,
#whyglobals .content .capa-secciones .capa-3 p span,
#whyglobals .content .capa-secciones .capa-4 p span {
  font-weight: 700;
  color: #333333;
}
#whyglobals .content .capa-secciones .active {
  background: #c50000;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #c50000 0%, #ec3709 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000', endColorstr='#ec3709', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
#whyglobals .content .capa-secciones .active p {
  color: #FFFFFF;
}
#whyglobals .content .capa-secciones .active p span {
  color: #FFFFFF;
}
#whyglobals .content .capa-secciones .capa-1 {
  border-right: 0.1px solid #b3b3b3;
  border-bottom: 0.1px solid #b3b3b3;
}
#whyglobals .content .capa-secciones .capa-2 {
  border-left: 0.1px solid #b3b3b3;
  border-bottom: 0.1px solid #b3b3b3;
}
#whyglobals .content .capa-secciones .capa-3 {
  border-top: 0.1px solid #b3b3b3;
  border-right: 0.1px solid #b3b3b3;
}
#whyglobals .content .capa-secciones .capa-4 {
  border-top: 0.1px solid #b3b3b3;
  border-left: 0.1px solid #b3b3b3;
}
#capabilities {
  width: 100%;
  background: url(../img/expansion.png) 690px 1180px no-repeat, /*img 2*/ url(../img/digital.png) 0px 2350px no-repeat, /*img 3*/ url(../img/think.png) 690px 3350px no-repeat, /*img 4*/ url(../img/bg-03.png) 0px 1500px no-repeat, /*img 5*/ url(../img/bg-02.png) 0px 1500px no-repeat;
  background-size: 750px, /*img 2*/ 750px, /*img 3*/ 750px, /*img 4*/ 130%, /*img 5*/ 130%;
}
#capabilities .content-1 {
  text-align: center;
  margin-top: 115px;
  height: 100vh;
  padding: 80px 0px 120px 0px;
}
#capabilities .content-1 h1 {
  font-family: 'circular-bold', sans-serif;
  font-size: 81.94px;
  text-transform: uppercase;
  color: #333333;
}
#capabilities .content-1 img {
  width: 100%;
  margin-top: 140px;
}
#capabilities .content-2 {
  text-align: center;
  margin-top: 115px;
  height: 100vh;
  padding: 80px 0px 120px 0px;
}
#capabilities .content-2 .texto {
  text-align: left;
}
#capabilities .content-2 .texto h1 {
  font-family: 'circular-bold', sans-serif;
  font-size: 81.94px;
  text-transform: uppercase;
  color: #333333;
}
#capabilities .content-2 .texto p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #808080;
  margin-top: 50px;
}
#capabilities .content-2 .texto p span {
  font-weight: 700;
  color: #333333;
}
#capabilities .content-2 img {
  width: 100%;
}
#capabilities .content-3 {
  text-align: center;
  margin-top: 115px;
  height: 100vh;
  padding: 80px 0px 120px 0px;
}
#capabilities .content-3 h1 {
  font-family: 'circular-bold', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
}
#capabilities .content-3 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 150px;
  text-align: right;
}
#capabilities .content-3 p span {
  font-weight: 700;
  color: #FFFFFF;
}
#capabilities .content-4 {
  text-align: center;
  margin-top: 115px;
  height: 100vh;
  padding: 80px 0px 120px 0px;
}
#capabilities .content-4 h1 {
  font-family: 'circular-bold', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  color: #333333;
  text-align: left;
}
#capabilities .content-4 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #808080;
  margin-top: 150px;
  text-align: left;
}
#capabilities .content-4 p span {
  font-weight: 700;
  color: #333333;
}
#contacto {
  width: 100%;
  height: 80vh;
  padding: 120px 0px 0px 0px;
  background: url(../img/bg-footer.png) #202121 left center no-repeat;
  background-size: contain;
}
#contacto .content .header {
  padding: 20px 0px;
}
#contacto .content .header .mail {
  padding-top: 85px;
}
#contacto .content .header .mail a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 21px;
  color: #FFFFFF;
  margin-left: 10px;
}
#contacto .content .titulo h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10px;
}
#contacto .content .formulario input,
#contacto .content .formulario textarea,
#contacto .content .formulario button {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0);
  font-weight: 700;
  color: #FFFFFF;
}
#contacto .content .formulario .form-control:focus {
  border-color: #ec3709;
  box-shadow: 0 0 0 0.2rem rgba(197, 0, 0, 0.1);
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
#contacto .content .formulario .form-control:focus::placeholder {
  color: #FFFFFF;
}
#contacto .content .formulario .enviar {
  text-align: right;
}
#contacto .content .formulario .enviar button {
  background: #ec3709;
  border-radius: 0px;
  padding: 5px 30px;
}
#footer {
  background: #000000;
  height: 100px;
}
#footer .content {
  color: #808080;
  padding-top: 40px;
}
#footer .content li {
  display: inline-block;
  padding: 0px 20px;
}
#footer .content li:nth-child(2),
#footer .content li:nth-child(3) {
  border-left: 1px solid #808080;
}
#footer .content li a {
  color: #808080;
  text-decoration: none;
}
#footer .content li a:hover {
  color: #FFFFFF;
}
@media (max-width: 2000px) {
  #inicio {
    width: 100%;
    height: 100vh;
    background: url(../img/bg-01.jpg);
    background-size: cover;
  }
  #inicio ul {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  #inicio ul li,
  #inicio ul .nav-item {
    padding: 10px 10px 10px 0px;
  }
  #inicio ul li a,
  #inicio ul .nav-item a,
  #inicio ul li .nav-link,
  #inicio ul .nav-item .nav-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
  }
  #inicio ul li:nth-child(6),
  #inicio ul .nav-item:nth-child(6) {
    padding-right: 0px;
  }
  #inicio ul li:nth-child(7),
  #inicio ul .nav-item:nth-child(7) {
    padding: 10px 0px 0px 0px;
  }
  #inicio ul li:nth-child(7) a,
  #inicio ul .nav-item:nth-child(7) a,
  #inicio ul li:nth-child(7) .nav.link,
  #inicio ul .nav-item:nth-child(7) .nav.link {
    padding: 10px 0px 0px 0px;
    cursor: default;
  }
  #inicio ul .active a,
  #inicio ul .active .nav-link {
    font-weight: 900;
  }
  #inicio .scrolled {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 125px;
  }
  #inicio .scrolled ul {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  #inicio .scrolled ul li,
  #inicio .scrolled ul .nav-item {
    padding: 10px 10px 10px 0px;
  }
  #inicio .scrolled ul li a,
  #inicio .scrolled ul .nav-item a,
  #inicio .scrolled ul li .nav-link,
  #inicio .scrolled ul .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .9px;
  }
  #inicio .scrolled ul li:nth-child(6),
  #inicio .scrolled ul .nav-item:nth-child(6) {
    padding-right: 0px;
  }
  #inicio .scrolled ul li:nth-child(7),
  #inicio .scrolled ul .nav-item:nth-child(7) {
    padding: 10px 0px 0px 0px;
  }
  #inicio .scrolled ul li:nth-child(7) a,
  #inicio .scrolled ul .nav-item:nth-child(7) a,
  #inicio .scrolled ul li:nth-child(7) .nav.link,
  #inicio .scrolled ul .nav-item:nth-child(7) .nav.link {
    padding: 10px 0px 0px 0px;
    cursor: default;
  }
  #inicio .scrolled ul .active a,
  #inicio .scrolled ul .active .nav-link {
    color: #ec3709;
    font-weight: 900;
  }
  #inicio .titulo {
    display: inline-block;
    font-family: 'circular-black', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 430px;
  }
  #inicio .titulo h1 {
    font-size: 84px;
  }
  #inicio .cta {
    text-align: center;
    margin-top: 200px;
  }
  #inicio .cta a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    text-decoration: none;
  }
  #inicio .cta a:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  #about {
    width: 100%;
    height: 100vh;
    padding: 120px 0px 80px 0px;
  }
  #about .seccion-titulo {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  #about .seccion-titulo svg {
    margin-right: 20px;
  }
  #about .content {
    text-align: center;
    margin-top: 200px;
  }
  #about .content h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 84px;
    text-transform: uppercase;
    color: #ec3709;
  }
  #about .content p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #808080;
    line-height: 1.2;
    margin-top: 50px;
  }
  #infinito {
    width: 100%;
    height: 100vh;
    padding: 120px 0px 120px 0px;
    text-align: center;
  }
  #infinito img {
    width: 70%;
  }
  #whyglobals {
    width: 100%;
    height: 100vh;
    padding: 80px 0px 120px 0px;
  }
  #whyglobals .content {
    text-align: center;
    margin-top: 115px;
  }
  #whyglobals .content h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    color: #333333;
  }
  #whyglobals .content .capa-secciones {
    margin-top: 95px;
  }
  #whyglobals .content .capa-secciones .capa-1,
  #whyglobals .content .capa-secciones .capa-2,
  #whyglobals .content .capa-secciones .capa-3,
  #whyglobals .content .capa-secciones .capa-4 {
    width: 642px;
    height: 290px;
    padding: 50px 65px;
  }
  #whyglobals .content .capa-secciones .capa-1 p,
  #whyglobals .content .capa-secciones .capa-2 p,
  #whyglobals .content .capa-secciones .capa-3 p,
  #whyglobals .content .capa-secciones .capa-4 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #808080;
    margin-top: 50px;
  }
  #whyglobals .content .capa-secciones .capa-1 p span,
  #whyglobals .content .capa-secciones .capa-2 p span,
  #whyglobals .content .capa-secciones .capa-3 p span,
  #whyglobals .content .capa-secciones .capa-4 p span {
    font-weight: 700;
    color: #333333;
  }
  #whyglobals .content .capa-secciones .active {
    background: #c50000;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000', endColorstr='#ec3709', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  #whyglobals .content .capa-secciones .active p {
    color: #FFFFFF;
  }
  #whyglobals .content .capa-secciones .active p span {
    color: #FFFFFF;
  }
  #whyglobals .content .capa-secciones .capa-1 {
    border-right: 0.1px solid #b3b3b3;
    border-bottom: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-2 {
    border-left: 0.1px solid #b3b3b3;
    border-bottom: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-3 {
    border-top: 0.1px solid #b3b3b3;
    border-right: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-4 {
    border-top: 0.1px solid #b3b3b3;
    border-left: 0.1px solid #b3b3b3;
  }
  #capabilities {
    width: 100%;
    background: url(../img/expansion.png) 100% 35% no-repeat, /*img 2*/ url(../img/digital.png) 0% 70% no-repeat, /*img 3*/ url(../img/think.png) 100% 99% no-repeat, /*img 4*/ url(../img/bg-03.png) 0% 65% no-repeat, /*img 5*/ url(../img/bg-02.png) 0% 500px no-repeat;
    background-size: 900px, /*img 2*/ 900px, /*img 3*/ 900px, /*img 4*/ 100%, /*img 5*/ 150%;
  }
  #capabilities .content-1 {
    text-align: center;
    margin-top: 115px;
    height: 50vh;
    padding: 100px 0px 120px 0px;
  }
  #capabilities .content-1 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    color: #333333;
  }
  #capabilities .content-1 img {
    width: 80%;
    margin-top: 140px;
  }
  #capabilities .content-2 {
    text-align: center;
    margin-top: 115px;
    height: 50vh;
    padding: 80px 0px 120px 0px;
  }
  #capabilities .content-2 .texto {
    text-align: left;
  }
  #capabilities .content-2 .texto h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 81.94px;
    text-transform: uppercase;
    color: #333333;
  }
  #capabilities .content-2 .texto p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #808080;
    margin-top: 50px;
  }
  #capabilities .content-2 .texto p span {
    font-weight: 700;
    color: #333333;
  }
  #capabilities .content-2 img {
    width: 100%;
  }
  #capabilities .content-3 {
    text-align: center;
    margin-top: 115px;
    height: 50vh;
    padding: 80px 0px 120px 0px;
  }
  #capabilities .content-3 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
  }
  #capabilities .content-3 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 150px;
    text-align: right;
  }
  #capabilities .content-3 p span {
    font-weight: 700;
    color: #FFFFFF;
  }
  #capabilities .content-4 {
    text-align: center;
    margin-top: 115px;
    height: 50vh;
    padding: 80px 0px 120px 0px;
  }
  #capabilities .content-4 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #333333;
    text-align: left;
  }
  #capabilities .content-4 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #808080;
    margin-top: 150px;
    text-align: left;
  }
  #capabilities .content-4 p span {
    font-weight: 700;
    color: #333333;
  }
  #contacto {
    width: 100%;
    height: 80vh;
    padding: 120px 0px 0px 0px;
    background: url(../img/bg-footer.png) #202121 left center no-repeat;
    background-size: contain;
  }
  #contacto .content .header {
    padding: 20px 0px;
  }
  #contacto .content .header .mail {
    padding-top: 85px;
  }
  #contacto .content .header .mail a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 21px;
    color: #FFFFFF;
    margin-left: 10px;
  }
  #contacto .content .titulo h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
  }
  #contacto .content .formulario input,
  #contacto .content .formulario textarea,
  #contacto .content .formulario button {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0);
    font-weight: 700;
    color: #FFFFFF;
  }
  #contacto .content .formulario .form-control:focus {
    border-color: #ec3709;
    box-shadow: 0 0 0 0.2rem rgba(197, 0, 0, 0.1);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  #contacto .content .formulario .form-control:focus::placeholder {
    color: #FFFFFF;
  }
  #contacto .content .formulario .enviar {
    text-align: right;
  }
  #contacto .content .formulario .enviar button {
    background: #ec3709;
    border-radius: 0px;
    padding: 5px 30px;
  }
  #footer {
    background: #000000;
    height: 100px;
  }
  #footer .content {
    color: #808080;
    padding-top: 40px;
  }
  #footer .content li {
    display: inline-block;
    padding: 0px 20px;
  }
  #footer .content li:nth-child(2),
  #footer .content li:nth-child(3) {
    border-left: 1px solid #808080;
  }
  #footer .content li a {
    color: #808080;
    text-decoration: none;
  }
  #footer .content li a:hover {
    color: #FFFFFF;
  }
}
@media (max-width: 1600px) {
  #inicio {
    width: 100%;
    height: 100vh;
    background: url(../img/bg-01.jpg);
    background-size: cover;
  }
  #inicio ul {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  #inicio ul li,
  #inicio ul .nav-item {
    padding: 10px 10px 10px 0px;
  }
  #inicio ul li a,
  #inicio ul .nav-item a,
  #inicio ul li .nav-link,
  #inicio ul .nav-item .nav-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
  }
  #inicio ul li:nth-child(6),
  #inicio ul .nav-item:nth-child(6) {
    padding-right: 0px;
  }
  #inicio ul li:nth-child(7),
  #inicio ul .nav-item:nth-child(7) {
    padding: 10px 0px 0px 0px;
  }
  #inicio ul li:nth-child(7) a,
  #inicio ul .nav-item:nth-child(7) a,
  #inicio ul li:nth-child(7) .nav.link,
  #inicio ul .nav-item:nth-child(7) .nav.link {
    padding: 10px 0px 0px 0px;
    cursor: default;
  }
  #inicio ul .active a,
  #inicio ul .active .nav-link {
    font-weight: 900;
  }
  #inicio .scrolled {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 125px;
  }
  #inicio .scrolled ul {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  #inicio .scrolled ul li,
  #inicio .scrolled ul .nav-item {
    padding: 10px 10px 10px 0px;
  }
  #inicio .scrolled ul li a,
  #inicio .scrolled ul .nav-item a,
  #inicio .scrolled ul li .nav-link,
  #inicio .scrolled ul .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .9px;
  }
  #inicio .scrolled ul li:nth-child(6),
  #inicio .scrolled ul .nav-item:nth-child(6) {
    padding-right: 0px;
  }
  #inicio .scrolled ul li:nth-child(7),
  #inicio .scrolled ul .nav-item:nth-child(7) {
    padding: 10px 0px 0px 0px;
  }
  #inicio .scrolled ul li:nth-child(7) a,
  #inicio .scrolled ul .nav-item:nth-child(7) a,
  #inicio .scrolled ul li:nth-child(7) .nav.link,
  #inicio .scrolled ul .nav-item:nth-child(7) .nav.link {
    padding: 10px 0px 0px 0px;
    cursor: default;
  }
  #inicio .scrolled ul .active a,
  #inicio .scrolled ul .active .nav-link {
    color: #ec3709;
    font-weight: 900;
  }
  #inicio .titulo {
    display: inline-block;
    font-family: 'circular-black', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 300px;
  }
  #inicio .titulo h1 {
    font-size: 77px;
  }
  #inicio .cta {
    text-align: center;
    margin-top: 200px;
  }
  #inicio .cta a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    text-decoration: none;
  }
  #inicio .cta a:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  #about {
    width: 100%;
    height: 100vh;
    padding: 120px 0px 120px 0px;
  }
  #about .seccion-titulo {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  #about .seccion-titulo svg {
    margin-right: 20px;
  }
  #about .content {
    text-align: center;
    margin-top: 115px;
  }
  #about .content h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    color: #ec3709;
  }
  #about .content p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #808080;
    line-height: 1.2;
    margin-top: 50px;
  }
  #infinito {
    width: 100%;
    height: 100vh;
    padding: 120px 0px 120px 0px;
    text-align: center;
  }
  #infinito img {
    width: 70%;
  }
  #whyglobals {
    width: 100%;
    height: 100vh;
    padding: 80px 0px 120px 0px;
  }
  #whyglobals .content {
    text-align: center;
    margin-top: 115px;
  }
  #whyglobals .content h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    color: #333333;
  }
  #whyglobals .content .capa-secciones {
    margin-top: 95px;
  }
  #whyglobals .content .capa-secciones .capa-1,
  #whyglobals .content .capa-secciones .capa-2,
  #whyglobals .content .capa-secciones .capa-3,
  #whyglobals .content .capa-secciones .capa-4 {
    width: 642px;
    height: 290px;
    padding: 50px 65px;
  }
  #whyglobals .content .capa-secciones .capa-1 p,
  #whyglobals .content .capa-secciones .capa-2 p,
  #whyglobals .content .capa-secciones .capa-3 p,
  #whyglobals .content .capa-secciones .capa-4 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #808080;
    margin-top: 50px;
  }
  #whyglobals .content .capa-secciones .capa-1 p span,
  #whyglobals .content .capa-secciones .capa-2 p span,
  #whyglobals .content .capa-secciones .capa-3 p span,
  #whyglobals .content .capa-secciones .capa-4 p span {
    font-weight: 700;
    color: #333333;
  }
  #whyglobals .content .capa-secciones .active {
    background: #c50000;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000', endColorstr='#ec3709', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  #whyglobals .content .capa-secciones .active p {
    color: #FFFFFF;
  }
  #whyglobals .content .capa-secciones .active p span {
    color: #FFFFFF;
  }
  #whyglobals .content .capa-secciones .capa-1 {
    border-right: 0.1px solid #b3b3b3;
    border-bottom: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-2 {
    border-left: 0.1px solid #b3b3b3;
    border-bottom: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-3 {
    border-top: 0.1px solid #b3b3b3;
    border-right: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-4 {
    border-top: 0.1px solid #b3b3b3;
    border-left: 0.1px solid #b3b3b3;
  }
  #capabilities {
    width: 100%;
    background: url(../img/expansion.png) 680px 1100px no-repeat, /*img 2*/ url(../img/digital.png) 0px 2120px no-repeat, /*img 3*/ url(../img/think.png) 690px 2950px no-repeat, /*img 4*/ url(../img/bg-03.png) 0px 1200px no-repeat, /*img 5*/ url(../img/bg-02.png) 0px 500px no-repeat;
    background-size: 750px, /*img 2*/ 750px, /*img 3*/ 750px, /*img 4*/ 130%, /*img 5*/ 150%;
  }
  #capabilities .content-1 {
    text-align: center;
    margin-top: 115px;
    height: 100vh;
    padding: 100px 0px 120px 0px;
  }
  #capabilities .content-1 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    color: #333333;
  }
  #capabilities .content-1 img {
    width: 80%;
    margin-top: 140px;
  }
  #capabilities .content-2 {
    text-align: center;
    margin-top: 115px;
    height: 100vh;
    padding: 80px 0px 120px 0px;
  }
  #capabilities .content-2 .texto {
    text-align: left;
  }
  #capabilities .content-2 .texto h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 81.94px;
    text-transform: uppercase;
    color: #333333;
  }
  #capabilities .content-2 .texto p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #808080;
    margin-top: 50px;
  }
  #capabilities .content-2 .texto p span {
    font-weight: 700;
    color: #333333;
  }
  #capabilities .content-2 img {
    width: 100%;
  }
  #capabilities .content-3 {
    text-align: center;
    margin-top: 115px;
    height: 100vh;
    padding: 80px 0px 120px 0px;
  }
  #capabilities .content-3 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
  }
  #capabilities .content-3 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 150px;
    text-align: right;
  }
  #capabilities .content-3 p span {
    font-weight: 700;
    color: #FFFFFF;
  }
  #capabilities .content-4 {
    text-align: center;
    margin-top: 115px;
    height: 100vh;
    padding: 80px 0px 120px 0px;
  }
  #capabilities .content-4 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #333333;
    text-align: left;
  }
  #capabilities .content-4 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #808080;
    margin-top: 150px;
    text-align: left;
  }
  #capabilities .content-4 p span {
    font-weight: 700;
    color: #333333;
  }
  #contacto {
    width: 100%;
    height: 80vh;
    padding: 120px 0px 0px 0px;
    background: url(../img/bg-footer.png) #202121 left center no-repeat;
    background-size: contain;
  }
  #contacto .content .header {
    padding: 20px 0px;
  }
  #contacto .content .header .mail {
    padding-top: 85px;
  }
  #contacto .content .header .mail a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 21px;
    color: #FFFFFF;
    margin-left: 10px;
  }
  #contacto .content .titulo h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
  }
  #contacto .content .formulario input,
  #contacto .content .formulario textarea,
  #contacto .content .formulario button {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0);
    font-weight: 700;
    color: #FFFFFF;
  }
  #contacto .content .formulario .form-control:focus {
    border-color: #ec3709;
    box-shadow: 0 0 0 0.2rem rgba(197, 0, 0, 0.1);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  #contacto .content .formulario .form-control:focus::placeholder {
    color: #FFFFFF;
  }
  #contacto .content .formulario .enviar {
    text-align: right;
  }
  #contacto .content .formulario .enviar button {
    background: #ec3709;
    border-radius: 0px;
    padding: 5px 30px;
  }
  #footer {
    background: #000000;
    height: 100px;
  }
  #footer .content {
    color: #808080;
    padding-top: 40px;
  }
  #footer .content li {
    display: inline-block;
    padding: 0px 20px;
  }
  #footer .content li:nth-child(2),
  #footer .content li:nth-child(3) {
    border-left: 1px solid #808080;
  }
  #footer .content li a {
    color: #808080;
    text-decoration: none;
  }
  #footer .content li a:hover {
    color: #FFFFFF;
  }
}
@media (max-width: 1380px) {
  #inicio {
    width: 100%;
    height: 100vh;
    background: url(../img/bg-01.jpg);
    background-size: cover;
  }
  #inicio ul {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  #inicio ul li,
  #inicio ul .nav-item {
    padding: 10px 10px 10px 0px;
  }
  #inicio ul li a,
  #inicio ul .nav-item a,
  #inicio ul li .nav-link,
  #inicio ul .nav-item .nav-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
  }
  #inicio ul li:nth-child(6),
  #inicio ul .nav-item:nth-child(6) {
    padding-right: 0px;
  }
  #inicio ul li:nth-child(7),
  #inicio ul .nav-item:nth-child(7) {
    padding: 10px 0px 0px 0px;
  }
  #inicio ul li:nth-child(7) a,
  #inicio ul .nav-item:nth-child(7) a,
  #inicio ul li:nth-child(7) .nav.link,
  #inicio ul .nav-item:nth-child(7) .nav.link {
    padding: 10px 0px 0px 0px;
    cursor: default;
  }
  #inicio ul .active a,
  #inicio ul .active .nav-link {
    font-weight: 900;
  }
  #inicio .scrolled {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 125px;
  }
  #inicio .scrolled ul {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  #inicio .scrolled ul li,
  #inicio .scrolled ul .nav-item {
    padding: 10px 10px 10px 0px;
  }
  #inicio .scrolled ul li a,
  #inicio .scrolled ul .nav-item a,
  #inicio .scrolled ul li .nav-link,
  #inicio .scrolled ul .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .9px;
  }
  #inicio .scrolled ul li:nth-child(6),
  #inicio .scrolled ul .nav-item:nth-child(6) {
    padding-right: 0px;
  }
  #inicio .scrolled ul li:nth-child(7),
  #inicio .scrolled ul .nav-item:nth-child(7) {
    padding: 10px 0px 0px 0px;
  }
  #inicio .scrolled ul li:nth-child(7) a,
  #inicio .scrolled ul .nav-item:nth-child(7) a,
  #inicio .scrolled ul li:nth-child(7) .nav.link,
  #inicio .scrolled ul .nav-item:nth-child(7) .nav.link {
    padding: 10px 0px 0px 0px;
    cursor: default;
  }
  #inicio .scrolled ul .active a,
  #inicio .scrolled ul .active .nav-link {
    color: #ec3709;
    font-weight: 900;
  }
  #inicio .titulo {
    display: inline-block;
    font-family: 'circular-black', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 250px;
  }
  #inicio .titulo h1 {
    font-size: 77px;
  }
  #inicio .cta {
    text-align: center;
    margin-top: 150px;
  }
  #inicio .cta a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    text-decoration: none;
  }
  #inicio .cta a:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  #about {
    width: 100%;
    height: 100vh;
    padding: 120px 0px 120px 0px;
  }
  #about .seccion-titulo {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  #about .seccion-titulo svg {
    margin-right: 20px;
  }
  #about .content {
    text-align: center;
    margin-top: 115px;
  }
  #about .content h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #ec3709;
  }
  #about .content p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #808080;
    line-height: 1.2;
    margin-top: 50px;
  }
  #infinito {
    width: 100%;
    height: 100vh;
    padding: 120px 0px 120px 0px;
    text-align: center;
  }
  #infinito img {
    width: 50%;
  }
  #whyglobals {
    width: 100%;
    height: 100vh;
    padding: 80px 0px 120px 0px;
  }
  #whyglobals .content {
    text-align: center;
    margin-top: 115px;
  }
  #whyglobals .content h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
  }
  #whyglobals .content .capa-secciones {
    margin-top: 50px;
  }
  #whyglobals .content .capa-secciones .capa-1,
  #whyglobals .content .capa-secciones .capa-2,
  #whyglobals .content .capa-secciones .capa-3,
  #whyglobals .content .capa-secciones .capa-4 {
    width: 340px;
    height: 200px;
    padding: 20px 35px;
  }
  #whyglobals .content .capa-secciones .capa-1 p,
  #whyglobals .content .capa-secciones .capa-2 p,
  #whyglobals .content .capa-secciones .capa-3 p,
  #whyglobals .content .capa-secciones .capa-4 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #808080;
    margin-top: 20px;
  }
  #whyglobals .content .capa-secciones .capa-1 p span,
  #whyglobals .content .capa-secciones .capa-2 p span,
  #whyglobals .content .capa-secciones .capa-3 p span,
  #whyglobals .content .capa-secciones .capa-4 p span {
    font-weight: 700;
    color: #333333;
  }
  #whyglobals .content .capa-secciones .active {
    background: #c50000;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #c50000 0%, #ec3709 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000', endColorstr='#ec3709', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  #whyglobals .content .capa-secciones .active p {
    color: #FFFFFF;
  }
  #whyglobals .content .capa-secciones .active p span {
    color: #FFFFFF;
  }
  #whyglobals .content .capa-secciones .capa-1 {
    border-right: 0.1px solid #b3b3b3;
    border-bottom: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-2 {
    border-left: 0.1px solid #b3b3b3;
    border-bottom: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-3 {
    border-top: 0.1px solid #b3b3b3;
    border-right: 0.1px solid #b3b3b3;
  }
  #whyglobals .content .capa-secciones .capa-4 {
    border-top: 0.1px solid #b3b3b3;
    border-left: 0.1px solid #b3b3b3;
  }
  #capabilities {
    width: 100%;
    background: url(../img/expansion.png) 600px 750px no-repeat, /*img 2*/ url(../img/digital.png) -50px 1620px no-repeat, /*img 3*/ url(../img/think.png) 690px 2350px no-repeat, /*img 4*/ url(../img/bg-03.png) 0px 900px no-repeat, /*img 5*/ url(../img/bg-02.png) 0px 500px no-repeat;
    background-size: 750px, /*img 2*/ 750px, /*img 3*/ 750px, /*img 4*/ 130%, /*img 5*/ 150%;
  }
  #capabilities .content-1 {
    text-align: center;
    margin-top: 115px;
    height: 80vh;
    padding: 80px 0px 60px 0px;
  }
  #capabilities .content-1 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
  }
  #capabilities .content-1 img {
    width: 50%;
    margin-top: 50px;
  }
  #capabilities .content-2 {
    text-align: center;
    margin-top: 115px;
    height: 80vh;
    padding: 40px 0px 60px 0px;
  }
  #capabilities .content-2 .texto {
    text-align: left;
  }
  #capabilities .content-2 .texto h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
  }
  #capabilities .content-2 .texto p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #808080;
    margin-top: 50px;
  }
  #capabilities .content-2 .texto p span {
    font-weight: 700;
    color: #333333;
  }
  #capabilities .content-2 img {
    width: 100%;
  }
  #capabilities .content-3 {
    text-align: center;
    margin-top: 115px;
    height: 80vh;
    padding: 40px 0px 60px 0px;
  }
  #capabilities .content-3 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
  }
  #capabilities .content-3 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 150px;
    text-align: right;
  }
  #capabilities .content-3 p span {
    font-weight: 700;
    color: #FFFFFF;
  }
  #capabilities .content-4 {
    text-align: center;
    margin-top: 115px;
    height: 80vh;
    padding: 40px 0px 60px 0px;
  }
  #capabilities .content-4 h1 {
    font-family: 'circular-bold', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
    text-align: left;
  }
  #capabilities .content-4 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #808080;
    margin-top: 150px;
    text-align: left;
  }
  #capabilities .content-4 p span {
    font-weight: 700;
    color: #333333;
  }
  #contacto {
    width: 100%;
    height: 80vh;
    padding: 80px 0px 50px 0px;
    background: url(../img/bg-footer.png) #202121 left center no-repeat;
    background-size: contain;
  }
  #contacto .content .header {
    padding: 20px 0px;
  }
  #contacto .content .header .mail {
    padding-top: 85px;
  }
  #contacto .content .header .mail a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 21px;
    color: #FFFFFF;
    margin-left: 10px;
  }
  #contacto .content .titulo h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
  }
  #contacto .content .formulario input,
  #contacto .content .formulario textarea,
  #contacto .content .formulario button {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0);
    font-weight: 700;
    color: #FFFFFF;
  }
  #contacto .content .formulario .form-control:focus {
    border-color: #ec3709;
    box-shadow: 0 0 0 0.2rem rgba(197, 0, 0, 0.1);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  #contacto .content .formulario .form-control:focus::placeholder {
    color: #FFFFFF;
  }
  #contacto .content .formulario .enviar {
    text-align: right;
  }
  #contacto .content .formulario .enviar button {
    background: #ec3709;
    border-radius: 0px;
    padding: 5px 30px;
  }
  #footer {
    background: #000000;
    height: 100px;
  }
  #footer .content {
    color: #808080;
    padding-top: 40px;
  }
  #footer .content li {
    display: inline-block;
    padding: 0px 20px;
  }
  #footer .content li:nth-child(2),
  #footer .content li:nth-child(3) {
    border-left: 1px solid #808080;
  }
  #footer .content li a {
    color: #808080;
    text-decoration: none;
  }
  #footer .content li a:hover {
    color: #FFFFFF;
  }
}
