@import './variables.scss';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: $mgrey;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    
}
.col {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.Home {
    background: $sidebar;
    width: 100%; height: 100vh;
    padding: 50px 0;
    position: fixed;
    transition: all .4s;
    z-index: 20;
    .datosPersonales {
        //border: 1px solid red;
        width: 50%;
        .foto {
            width: 200px; height: 200px;
            display: block;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 30px;
            img {
                width: 100%; height: 100%;
                position: absolute;
            }
        }
        .nombre {
            margin-bottom: 20px;
            h1 {
                font-size: 36px;
                color: $white;
                text-transform: uppercase;
            }
            h4 {
                position: relative;
                padding-left: 15px;
                font-size: 18px;
                color: $white;
                font-weight: 100;
                span {
                    width: 3px; height: 100%;
                    position: absolute;
                    display: block;
                    left: 0;
                    background: $white;
                }
            }
        }
        .bio {
            h2 {
                font-size: 28px;
                color: $white;
                text-transform: uppercase;
                line-height: 30px;
                margin-bottom: 20px;
            }
            p {
                color: $white;
                font-size: 100;
                letter-spacing: .3px;
                strong {
                    transition: all .2s;
                    &:hover {
                        color: $purple;
                    }
                }
            }
        }

    }
    .homeBtnTrabajos {
        margin-top: 100px;
        text-align: right;
        a {
            background: none;
            border: 0;
            font-size: 16px;
            color: $white;
            font-weight: 700;
            cursor: pointer;
            text-transform: uppercase;
            display: block;
            text-decoration: none;
            transition: all .2s;
            &:hover {
                color: $purple;
            }
        }
    }
}
.portfolioAbierto {
    width: 250px;
    .datosPersonales {
        width: 100%;
        //border: 1px solid red;
        .foto {
            width: 150px; height: 150px;
        }
        .nombre {
            h1 {
                font-size: 30px;
            }
            h4 {
                font-size: 16px;
            }
        }
        .bio {
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 14px; 
            }
        }
    }
}

.Portfolio {
    width: calc(100% - 250px);
    //background: green;
    position: relative;
    margin-left: auto;
    padding: 50px 0;
    .Trabajos {
        width: 285px; height: 275px;
        display: inline-block;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        transition: all .2s;
        margin: 10px;
        background: $dgrey;
        .preview {
            width: 100%; height: 153px;
            position: absolute;
            overflow: hidden;
            transition: all .2s;
            img {
                width: 100%;
                transform-origin: top center;
                transform: scale(1.4);
                transition: all .2s;
            }
        }
        .favicon {
            position: absolute;
            right: 30px; top: 116px;
            border: 1px solid $white;
            border-radius: 14px;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, .1);
            transition: all .2s;
            &:hover {
                box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
            }
            img {
                display: block;
                border: none;
            }
        }
        .bajada {
            position: absolute;
            left: 30px; bottom: 30px;
            transition: all .2s;
            h4 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 17px;
                color: $white;
            }
            p {
                font-size: 15px;
                color: $white;
            }
        }
        .linkcitos {
            position: absolute;
            left: 30px; bottom: -20px;
            color: $white;
            transition: all .2s;
            a {
                color: $white;
                text-decoration: none;
                font-weight: 100;
                font-size: 12px;
                margin: 0;
                &:hover {
                    color: $purple;
                }
            }
        }

        &:hover {
            .preview {
                height: 120px;
                img {
                    transform: scale(1);
                }
            }
            .favicon {
                top: 86px;
            }
            .bajada {
                bottom: 60px;
            }
            .linkcitos {
                bottom: 30px;
            }
        }

    }
}