.heading {
  font-weight: 700;
}

[data-size="small"] {
  font-size: clamp(1.5rem, 1rem + 2vw, 4rem);
}

[data-size="medium"] {
  font-size: clamp(1.5rem, 1rem + 3vw, 8rem);
}

[data-size="large"] {
  font-size: clamp(1.5rem, 4rem + 4vw, 16rem);
}