@import url("./variables.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-neutral-100);
  color: var(--clr-primary-500);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: var(--clr-primary-500);
  color: var(--clr-neutral-100);
}

ul {
  list-style-type: none;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1360px;
  --content-max-half-width: calc(var(--content-max-width) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr) [content-start content-left-start] min(50% - (var(--padding-inline) * 2),
      var(--content-max-half-width)) [content-left-start content-right-start] min(50% - (var(--padding-inline) * 2),
      var(--content-max-half-width)) [content-end content-right-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.full-width),
.full-width> :not(.full-width) {
  grid-column: content;
}

.content-grid>.full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

[data-align="left"] {
  text-align: left;
}

[data-align="center"] {
  text-align: center;
}

[data-align="right"] {
  text-align: right;
}

[data-font-weight="light"] {
  font-weight: 300;
}

[data-font-weight="regular"] {
  font-weight: 400;
}

[data-font-weight="medium"] {
  font-weight: 500;
}

[data-font-weight="bold"] {
  font-weight: 700;
}